body {
    background-color: #1f1f1f;
    color: #ddd; /* lighter color to complement the dark background */
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px; /* Add space between the top of the page and the content */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height to ensure the container takes up at least the full height of the viewport */
    padding: 20px; /* Add padding to create space around the content */
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Align items to the center of the flex container */
    margin-top: 20px;
}

.search-item {
    margin: 10px;
    width: 500px; /* Set the width of each search item */
    height: 500px; /* Set the height of each search item */
    overflow: hidden; /* Hide overflow to prevent images from extending beyond their containers */
    position: relative; /* Position the images relative to their parent container */
}

.search-item img {
    width: 100%;
    height: 100%; /* Let the height adjust according to the aspect ratio */
    max-height: calc(100vh - 200px); /* Adjust height to fill screen height with some margin for other elements */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #45a049;
}

.search-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-box {
    flex: 1; /* Let the search box grow to fill available space */
    max-width: 70%; /* Limit the maximum width to 70% of the container */
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: 2px solid #4CAF50;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    outline: none;
}

.search-button {
    padding: 10px;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}



