<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search For R34</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Search For R34</h1>
        <div class="search-container">
            <form action="/search" method="post">
                <input type="text" name="search_query" class="search-box" placeholder="Uzi_(Murder_Drones)">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
    </div>
</body>
</html>
